<!DOCTYPE html>
<html>
<head>
    <title>Upload AML CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Upload AML CSV</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Predict</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <br>
    <a href="/logout">Logout</a>
</div>

</body>
</html>
